<div class="store">
	<div class="store-row">
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
	</div>
	<div class="store-row">
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
	</div>
	<div class="store-row">
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				FANCY PRODUCT
			</div>
			<div class="store-col-img">
				<img src="https://i.imgur.com/D9Oh29Y.jpg">
			</div>
			<div class="store-col-price">
				230pz
			</div>
		</div>
	</div>
</div>