<div class="store">
	<div class="store-row">
		<div class="store-col">
			<div class="store-col-name">
				Bronze Membership
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				10000pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Bronze Star
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				4000pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Special Username Color
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				5500pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Extra Diamond
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				1000pz
			</div>
		</div>
	</div>
	<div class="store-row">
		<div class="store-col">
			<div class="store-col-name">
				Ponze.io Conference Ticket
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				60000pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Platinum Membership
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				100000pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Premium Account Color
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				2500pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Golden Username Border
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				7500pz
			</div>
		</div>
	</div>
	<div class="store-row">
		<div class="store-col">
			<div class="store-col-name">
				Custom Profile Picture
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				4500pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Custom Profile Title
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				3200pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Private Ponze.io Dinner Event 
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				9100pz
			</div>
		</div>
		<div class="store-col">
			<div class="store-col-name">
				Silver Membership
			</div>
			<div class="store-col-img">
				<img src="https://imgur.com/HdwRZf6.jpg">
			</div>
			<div class="store-col-price">
				20000pz
			</div>
		</div>
	</div>
</div>