<div class="auth-group">
	<div class="auth-background"></div>
	<form class="signin-form signin" action="/login" method="post" autocomplete="off">
	  <p class="signin-title">your dream vacation is waiting</p>
	  <hr class="line">
	  <div class="input-group">
	    <input type="text" placeholder="username" name="username" required="true">
	    <input type="password" placeholder="password" name="password" required="true">
	  </div>
	  <button class="login-register-btn">login</button>
	</form>
</div>


